---

import BaseLayout from "@/layouts/BaseLayout.astro";
import ThemeToggle from "@/components/Themetoggle";
---

<BaseLayout>
  <!-- Include the ThemeToggle component here -->
<body>
   <ThemeToggle client:load />
</body>


</BaseLayout>
